<link rel="stylesheet" href="../styles/global.css">
<link rel="stylesheet" href="../styles/home.css">

<header>
    <div class="header">
        <ul class="nav-links">
            <li><a href="../pages/home.html">Home</a></li>
            <li><a href="../pages/catalogo.html">Catálogo</a></li>
            <li><a href="../pages/cadastro.html">Cadastro</a></li>
        </ul>

        <img src="/trabalho-final-grupo-3-1122-ADA/assets/img/shenglong-logo.png"
            alt="Imagem da logo escrita ShengLong - Produtos alongados" />

        <button class="header-button">Buy now</button>
    </div>
</header>