<link rel="stylesheet" href="../styles/global.css" />
<link rel="stylesheet" href="../styles/header.css" />

<header>
  <div class="header">
    <ul class="nav-links">
      <li><a href="../pages/home.html">Home</a></li>
      <li><a href="../pages/catalogo.html">Catálogo</a></li>
      <li><a href="../pages/cadastro.html">Cadastro</a></li>
    </ul>

    <img src="../../assets/shenglong-logo.png" alt="Imagem da logo escrita ShengLong - Produtos alongados" />
    <a href="../pages/catalogo.html">
      <button class="header-button">Ver Produtos</button>
    </a>
  </div>
</header>